/* General margins */
header, section, footer {
    margin-left: 2rem;
    margin-right: 2rem;

    margin-top: 2ex;
    margin-bottom: 2ex;
}



/* Make copyright stick to the bottom */
body {
    margin: 0 0 120px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
}



/* layout Index.html page */
.homePage {
    margin-left: 2rem;
    margin-right: 2rem;

    margin-top: 2ex;
    margin-bottom: 2ex;
}



/* layout person index page */
.nameList {
    margin-left: 2rem;
    margin-right: 2rem;

    margin-top: 2ex;
    margin-bottom: 2ex;
}



/* layout Person page */
nav {
    display: grid;
    grid-template-columns: 50% 50%;
}

.home {
    text-align: left;
}

.gedcomLink {
    text-align: right;
}

.parents {
    display: grid;
    grid-template-columns: 50% 50%;
}

.father {
    text-align: left;
}

.mother {
    text-align: right;
}

.personName {
    text-align: center;
}

.gedcom {
    display: inline-block;
}

.gedcomLink {
    font-size: 80%;
}

.events {
    display: grid;
    grid-template-columns: max-content minmax(min-content,max-content) auto;
    grid-column-gap: 8px;
}
.events > div:nth-child(15n+13),
.events > div:nth-child(15n+14),
.events > div:nth-child(15n+15)
{
    border-bottom: 1px dashed var(--sol-base1);
}


.vitalName {
    font-weight: bold;
}

.vitalDate {
    white-space: nowrap;
    font-feature-settings: "onum" off;
}

.footref::before {
    content: '[';
    font-weight: normal;
}
.footref::after {
    content: ']';
    font-weight: normal;
}

.footnotes {
    font-size: 80%;
    text-indent: 2em;
    text-align: justify;
    text-justify: distribute;
}

/* double-space footnote list */
.footnotes > ul > li {
    margin-top: 2ex;
}

.footnotes > ul {
    list-style-type: none; /* no bullets */
    padding: 0;
}

/* highlight footnote when navigated to */
.footnotes > ul > li:target {
    color: var(--sol-base03);
    background-color: var(--sol-base2);
    border-left: 4px solid var(--sol-green);
    padding-left: 8px;
    position: relative;
    left: -12px;
    margin-right: -12px;
}

/* superscript and bold footnote numbers */
.footnum, .footref {
    position: relative;
    top: -1ex;
    font-size: 75%;
    font-weight: bold;
}

.note {
    font-size: 80%;
    text-align: justify;
    text-justify: distribute;
    margin-right: 1em;
}

.partner {
    margin-bottom: 2ex;
}

.children {
    margin-top: 2ex;
}

.childrenList {
    padding-left: 2em;
}

div.source, div.citation, div.transcript {
    display: inline;
}



.copyright {
    display: grid;
    grid-template-areas:
        "badge notice"
        "badge license";
}

.copyright > .badge {
    grid-area: badge;
}

.copyright > .notice {
    grid-area: notice;
}

.copyright > .license {
    grid-area: license;
}





/* styles for html in gedcom files */
table {
    border-collapse: collapse;
    border: 1px solid var(--sol-base1);
}

td, th {
    border: 1px solid var(--sol-base1);
    padding: 3px;
}
