@import url("https://cdn.jsdelivr.net/gh/cmosher01/PlainWebCss@master/src/main/resources/css/reset.css");
@import url("https://cdn.jsdelivr.net/gh/cmosher01/PlainWebCss@master/src/main/resources/css/fonts.css");
@import url("https://cdn.jsdelivr.net/gh/cmosher01/PlainWebCss@master/src/main/resources/css/solarized.css");

@import url("https://cdn.jsdelivr.net/gh/cmosher01/teish@master/src/main/resources/teish.css");

/* General */
header, section, footer {
    margin: 2ex 2rem 2ex 2rem;
}

footer {
    font-size: 80%;
}

.personName {
    font-size: 200%;
}

.footnotes {
    color: var(--sol-base0);
}

nav, .gedcomLink, .parents, .relation, .copyright, .indextab, .placeholder {
    color: var(--sol-base1);
}

.personName,
.nameList .name,
.parents .name,
.partnership .name,
.hasIssue,
.hasLineage {
    color: var(--sol-violet);
}

a:hover {
    background-color: var(--sol-base2);
    color: var(--sol-orange);
}

hr {
    margin-top: 2ex;
    margin-bottom: 2ex;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, var(--sol-base2), var(--sol-base1), var(--sol-base2));
}



/* layout Index.html page */
.homePage {
    margin: 2ex 2rem 2ex 2rem;
}
dt {
    margin: 0 0 1ex 2em;
}



/* layout person index page */
.nameList {
    margin: 2ex 2rem 2ex 2rem;

    column-width: 12em;
    list-style-type: none;
}



/* layout Person page */
nav {
    display: grid;
    grid-template-columns: 50% 50%;
}

.indextab {
    margin: 2ex 2rem 2ex 2rem;
}

.home {
    text-align: left;
}

.gedcomLink {
    text-align: right;
}

.parents {
    display: grid;
    grid-template-columns: 50% 50%;
}

.father {
    text-align: left;
}

.mother {
    text-align: right;
}

.personName {
    text-align: center;
}

.gedcom {
    display: inline-block;
}

.gedcomLink {
    font-size: 80%;
}

.vitalDate {
    white-space: nowrap;
}

.vitalTypePrimaryLabel {
    color: var(--sol-magenta);
}

.vitalTypeSecondaryLabel {
    color: var(--sol-cyan);
}

.vitalTypeLabel {
    color: var(--sol-yellow);
}

.events,
.vitalDate,
.vitalPlace,
.vitalType,
.childrenList,
.childName {
    border: none;
    padding: 0 3px 0 3px;
}

.events > tbody > tr:nth-child(odd) {
    background-color: var(--sol-base2);
}

.hasLineage::before {
    content: '\2442';
    position: relative;
    top: -1.2ex;
    font-size: 50%;
}

.hasIssue::before {
    content: '\2443';
    position: relative;
    top: -1.2ex;
    font-size: 50%;
}

.footref::before {
    content: '[';
}
.footref::after {
    content: ']';
}

.footnotes {
    font-size: 80%;
    text-indent: 2em;
    margin-left: 4rem;
    margin-right: 4rem;
}

div.tei-TEI,
div.tei-text,
div.tei-body {
    display: inline;
}

.citation>.tei-TEI>.tei-teiHeader {
    display: none;
}

/* double-space footnote list */
.footnotes > ul > li {
    margin-top: 2ex;
}

.footnotes > ul {
    list-style-type: none; /* no bullets */
    padding: 0;
}

/* highlight footnote when navigated to */
.footnotes > ul > li:target {
    color: var(--sol-base03);
    background-color: var(--sol-base2);
    border-left: 4px solid var(--sol-green);
    padding-left: 8px;
    position: relative;
    left: -12px;
    margin-right: -12px;
}

/* superscript footnote numbers */
.footnum, .footref {
    position: relative;
    top: -1.6ex;
    font-size: 60%;
}

.partner {
    margin-bottom: 2ex;
}

.children {
    margin-top: 2ex;
}

.childrenList {
    margin-left: 2em;
}

div.source, div.citation, div.transcript {
    display: inline;
}

.transcript {
    text-indent: 0;
}



#svgObject {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
}



/* styles for html in gedcom files */
table, td, th {
    border: 1px solid var(--sol-base1);
}
