/* General margins */
header, section, footer {
    margin: 2ex 2rem 2ex 2rem;
}



/* layout Index.html page */
.homePage {
    margin: 2ex 2rem 2ex 2rem;
}
dt {
    margin: 0 0 1ex 2em;
}



/* layout person index page */
.nameList {
    margin: 2ex 2rem 2ex 2rem;

    column-width: 12em;
    list-style-type: none;
}



/* layout Person page */
nav {
    display: grid;
    grid-template-columns: 50% 50%;
}

.home {
    text-align: left;
}

.gedcomLink {
    text-align: right;
}

.parents {
    display: grid;
    grid-template-columns: 50% 50%;
}

.father {
    text-align: left;
}

.mother {
    text-align: right;
}

.personName {
    text-align: center;
}

.gedcom {
    display: inline-block;
}

.gedcomLink {
    font-size: 80%;
}

.events {
    display: grid;
    grid-template-columns: max-content auto auto;
    grid-column-gap: 8px;
}
.events > div:nth-child(15n+13),
.events > div:nth-child(15n+14),
.events > div:nth-child(15n+15) {
    border-bottom: 0.5px dotted var(--sol-base1);
}

.events > div::after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: sub; /* why does this work? it positions the reduced-size date correctly */
}

.vitalDate {
    font-size: 85%;
    font-feature-settings: "onum" off;
}

.hasLineage::before {
    content: '\2442';
    position: relative;
    top: -1.2ex;
    font-size: 50%;
}

.hasIssue::before {
    content: '\2443';
    position: relative;
    top: -1.2ex;
    font-size: 50%;
}

.footref::before {
    content: '[';
    font-weight: normal;
}
.footref::after {
    content: ']';
    font-weight: normal;
}

.footnotes {
    font-size: 80%;
    text-indent: 2em;
    text-align: justify;
    text-justify: distribute;
    margin-left: 4rem;
    margin-right: 4rem;
}

/* double-space footnote list */
.footnotes > ul > li {
    margin-top: 2ex;
}

.footnotes > ul {
    list-style-type: none; /* no bullets */
    padding: 0;
}

/* highlight footnote when navigated to */
.footnotes > ul > li:target {
    color: var(--sol-base03);
    background-color: var(--sol-base2);
    border-left: 4px solid var(--sol-green);
    padding-left: 8px;
    position: relative;
    left: -12px;
    margin-right: -12px;
}

/* superscript and bold footnote numbers */
.footnum, .footref {
    position: relative;
    top: -1.6ex;
    font-size: 60%;
    font-weight: bold;
}

.partner {
    margin-bottom: 2ex;
}

.children {
    margin-top: 2ex;
}

.childrenList {
    padding-left: 2em;
}

div.source, div.citation, div.transcript {
    display: inline;
}

.transcript {
    text-indent: 0;
}



#svgObject {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
}



/* styles for html in gedcom files */
table {
    border-collapse: collapse;
    border: 1px solid var(--sol-base1);
}

td, th {
    border: 1px solid var(--sol-base1);
    padding: 3px;
}
