@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css");

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: circle;
}
