@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css");

html {
    position: relative;
    min-height: 100vh;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: circle;
}

ol {
    -webkit-padding-start: 0; /* reset chrome */
}

dd {
    -webkit-margin-start: 0; /* reset chrome */
}
