@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Source+Code+Pro');

body {
    font-family: 'Fira Sans', sans-serif;
}

article > header {
    font-size: 300%;
}

.surname {
    font-size: 133%;
}

.pub {
    font-size: 90%;
}

.source {
    font-size: 90%;
}
