td, th {
    border-style: solid;
    border-width: thin;
}

.person .events .date {
    font-family: 'Source Code Pro', monospace;
    white-space: nowrap;
}

.person .events .notes {
    width: 20%;
}

.person .events .place {
    width: 30%;
}

.family_events {
    text-align: right;
}
