@import url("http://fonts.googleapis.com/css?family=Gentium+Basic|Sorts+Mill+Goudy&subset=latin,latin-ext");



body
{
	font-family:
		"Sorts Mill Goudy",
		"Gentium Basic",
		"Lucida Sans Unicode",
		"Arial Unicode MS",
		"Arial",
		"Helvetica",
		"serif";
}



article > header
{
	font-size: 300%;
}

.surname
{
	font-size: 133%;
}

.pub
{
	font-size: 90%;
}

.source
{
	font-size: 90%;
}
