@font-face {
    font-family: quant;
    src: url('http://mosher.mine.nu/font/quant/QuantTextLig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');




@font-face {
    font-family: hieroglify;
    src: url('http://mosher.mine.nu/font/hieroglify/Hieroglify.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body {
    font-family: quant, serif;

    font-weight: normal;
    font-style: normal;
    text-rendering: geometricPrecision;
    font-feature-settings: "kern", "liga", "hlig", "dlig", "onum";

}


.vitalDate {
    font-family: 'Source Code Pro', monospace;

    font-weight: normal;
    font-style: normal;
}



.surname {
    font-weight: bold;
}

.personName, .sourceTitle {
    font-size: 200%;
}

footer {
    font-size: 80%;
}
