@font-face {
    font-family: quant;
    src:
        url('http://mosher.mine.nu/font/quant/QuantTextLig-webfont.woff2') format('woff2'),
        url('http://mosher.mine.nu/font/quant/QuantTextLig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');



body {
    font-family: quant, serif;

    font-weight: normal;
    font-style: normal;
    text-rendering: geometricPrecision;
    font-feature-settings: "kern", "liga", "hlig", "dlig", "onum";

}


.vitalDate {
    font-family: 'Source Code Pro', monospace;

    font-weight: normal;
    font-style: normal;
}



.surname {
    font-weight: bold;
}

.personName, .sourceTitle {
    font-size: 200%;
}

footer {
    font-size: 80%;
}
