@import url("solarbase.css");

html {
    background-color: var(--sol-base3);
    color: var(--sol-base00);
}

.citation, footer, .gedcomLink {
    color: var(--sol-base1);
}

.eventVitals {
    background-color: var(--sol-base2);
    color: var(--sol-base01);
}

.personName,
.parents .name,
.partnership .name {
    color: var(--sol-violet);
}

a:hover {
    background-color: var(--sol-green);
    color: var(--sol-base3);
}

.events {
    border-left : 2px solid var(--sol-base2);
    border-right: 2px solid var(--sol-base2);
    border-bottom: 2px solid var(--sol-base2);
}
