<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
>
	<display-name>GEDCOM servlet</display-name>
	<description>Servlet that serves gedcom files.</description>

	<filter>
		<filter-name>filter</filter-name>
		<filter-class>nu.mine.mosher.gedcom.servlet.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>GedcomServlet</servlet-name>
		<servlet-class>nu.mine.mosher.gedcom.servlet.GedcomServlet</servlet-class>
		<load-on-startup />
	</servlet>
	<servlet-mapping>
		<servlet-name>GedcomServlet</servlet-name>
		<url-pattern>/GedcomServlet/*</url-pattern>
	</servlet-mapping>
</web-app>
